$background1: rgb(69, 16, 69);
$background2: rgba(5,52,100,1);

$CEMEX-blue: rgb(0, 64, 128);
$CEMEX-red: rgb(208, 11, 34);
$CEMEX-gray: rgba(230,231,238,1);
$ship-cove: rgba(116,137,185,1);
$wild-blue-yonder: rgba(124,148,181,1);

$borderRadius: 4px;

$blurPX: 14px;

.popUp--title{
    font-size: 3rem;
    font-weight: bold;
    color: $CEMEX-blue;
    top: 0;
    margin-top: 20px;
    margin-bottom: 20px;
}

.popUpGlass{
    width: 100%;
    height: 100%;

    // Center the image
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);


    


    color:$CEMEX-blue;
    background: rgba(230,231,238, 0.3);
    box-shadow: 0 4px 30px rgba(5,52,100, 0.2);
    backdrop-filter: blur($blurPX);
    -webkit-backdrop-filter: blur($blurPX);
    border: 1px solid rgba(124,148,181, 0.7);
    border-radius: 2 * $borderRadius;
    padding: 10px 30px 10px;

    position: absolute;
    //Bring it to the front of the page
    z-index: 100;
}

.popUp-image{
    width: 100%;
    height: 100%;
}

.popUpCircularMask { 
    
    display: inline-block; 
    height: 200px;
    aspect-ratio: 1 / 1;
    overflow: hidden; 
    border-radius: 50%;
    border: 4px solid rgba(0, 64, 128, 0.7); 
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 10px;
    margin-bottom: 10px;

    
    
} 
.popUpCircularMask img { 
    width: 100%;
    height: 100%;
    position: relative;
    left: 50%;
    top: 50%;
    border-radius: 50%;
    transform: translate(-50%, -50%);
}