$CEMEX-blue: rgb(0, 64, 128);

.NavBar{
    position: fixed;
    overflow: hidden;

    background-color: black;
    color: red;
}

.NavLogo{
    background-color: white;
}

.GlassMorphism{
    background: rgba(0, 64, 128, 0.5);
//    background: rgba(54, 50, 50, 0.5);/
    box-shadow: 0 4px 30px rgba(5,52,100, 0.2);
    backdrop-filter: blur(3px);
    -webkit-backdrop-filter: blur(3px);
    border: 1px solid rgba(147, 219, 232, 0.7);
    &--navbar{
        @extend .GlassMorphism;
        backdrop-filter: blur(30px);
    }
}

.spacer{
    height: 35px;
}