$CEMEX-blue: rgb(0, 64, 128);
$CEMEX-red: rgb(208, 11, 34);
$CEMEX-gray: rgba(230,231,238,1);
$ship-cove: rgba(116,137,185,1);
$wild-blue-yonder: rgba(124,148,181,1);

$primary: $CEMEX-blue;
$secondary: $ship-cove;

$borderRadius: 4px;

$transitionEasing: cubic-bezier(.36,1,.62,.98);

@mixin box-shadow($props...) {
    -webkit-box-shadow: $props;
    -moz-box-shadow: $props;
    box-shadow: $props;
}

.button {
    display: inline-block;
    padding: 15px 12px;

    font-size: 16px;
    font-weight: 400;
    text-transform: uppercase;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    border-radius: 2 * $borderRadius;
    @include box-shadow(0px 0px 13px 8px rgba(0,0,0,0.1));

    background: rgba(0, 64, 128,0.6);
    color: #fff;

    margin-bottom: 20px;
    margin-top: 10px;

    border: 1px solid rgba(0, 64, 128, 0.1);

    &:hover {
        background: $CEMEX-blue;
        border: 1px solid rgba(255, 255, 255, 0.1);
        @include box-shadow(0px 0px 18px 15px rgba(104, 104, 248, 0.15));
        
        
    }

    &--CAUTION {
        @extend .button;
        background: rgba(208, 11, 34,0.6);
        color: #fff;
        border: 1px solid rgba(208, 11, 34, 0.1);
        &:hover {
            background:  $CEMEX-red;
            border: 1px solid rgba(255, 255, 255, 0.1);
            @include box-shadow(0px 0px 18px 15px rgba(255, 52, 52, 0.15));
    
        }
    }
}

.flex-container--configuration{
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    justify-content: center;
}

.config-input{
    color:$primary;
    &::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
        color: $secondary;
        opacity: 1; /* Firefox */
    }
    &:-ms-input-placeholder { /* Internet Explorer 10-11 */
        color: $secondary;
    }
    
    &::-ms-input-placeholder { /* Microsoft Edge */
        color: $secondary;
    }
}

.CAUTION{
    color: $CEMEX-red;
    font-size: 1.5em;
    font-weight: bold;
    margin-top: 10px;
    font-weight: 700;
}

.inputGlass{
    //color:$CEMEX-blue;
    display: block;
    width: 100%;
    box-sizing: border-box;
    font-size: 16px;
    padding: 14px 10px;
    margin-bottom: 15px;
    
    background: rgba(116,137,185, 0.4);;
    box-shadow: 0 4px 30px rgba(5,52,100, 0.2);
    backdrop-filter: blur(3px);
    -webkit-backdrop-filter: blur(3px);
    border: 1px solid rgba(124,148,181, 0.7);
    border-radius: 2 * $borderRadius;
    padding: 10px;
    
    &:focus {
        outline: none;
        border: 1px solid #fff;
        background: transparent;
    }
}