$background1: rgb(69, 16, 69);
$background2: rgba(5,52,100,1);

$CEMEX-blue: rgb(0, 64, 128);
$CEMEX-red: rgb(208, 11, 34);
$CEMEX-gray: rgba(230,231,238,1);
$ship-cove: rgba(116,137,185,1);
$wild-blue-yonder: rgba(124,148,181,1);

$borderRadius: 2px;

.userViewWrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    grid-auto-rows: minmax(100px, auto);
}

.progressBar {
    margin: 10 10 10 10;
}

.display-block{
    color:black;
}

.circularMask {
    aspect-ratio: 1 / 1;
    height: 100%;
    object-fit: cover;
    border-radius: 50% ;
    //border: 1px solid rgba(232, 147, 147, 0.7);
}

.user-view-item{
    margin-top: 20px;
}

.sectionGlass{
    color:$CEMEX-gray;
    background: rgba(5,52,100,0.5);
    box-shadow: 0 4px 30px rgba(5,52,100, 0.2);
    backdrop-filter: blur(3px);
    -webkit-backdrop-filter: blur(3px);
    border: 1px solid rgba(0, 64, 128, 0.7);
    border-radius: 2 * $borderRadius;
    padding: 10px 30px 10px;
    margin: 0;
}

.centered{
    align-items: center;
    justify-content: center;
    text-align:center;
}